In [26]:
#Sets 
#Sets Remove Duplicate occurences
dataScientist = set(['Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS'])
dataEngineer = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [27]:
dataScientist

{'Git', 'Python', 'R', 'SAS', 'SQL', 'Tableau'}

In [28]:
dataEngineer

{'Git', 'Hadoop', 'Java', 'Python', 'SQL', 'Scala'}

In [29]:
# Initialize set with values
graphicDesigner = {'InDesign', 'Photoshop', 'Acrobat', 'Premiere', 'Bridge'}
graphicDesigner

{'Acrobat', 'Bridge', 'InDesign', 'Photoshop', 'Premiere'}

In [30]:
#Add New Value to set
graphicDesigner.add('Illustrator')
graphicDesigner

{'Acrobat', 'Bridge', 'Illustrator', 'InDesign', 'Photoshop', 'Premiere'}

In [31]:
#Remove value from set
graphicDesigner.remove('Bridge')
graphicDesigner

{'Acrobat', 'Illustrator', 'InDesign', 'Photoshop', 'Premiere'}

In [33]:
#Another Way to Remove value from set
graphicDesigner.discard('Illustrator')
graphicDesigner

{'Acrobat', 'InDesign', 'Photoshop', 'Premiere'}

In [34]:
#Remove and Return a value from set
value=graphicDesigner.pop()
value

'InDesign'

In [35]:
graphicDesigner #->See Now InDesign is removed

{'Acrobat', 'Photoshop', 'Premiere'}

In [36]:
#Remove All Values from set
graphicDesigner.clear()

In [37]:
graphicDesigner

set()

In [38]:
#Set Operations
# Python sets have methods that allow you to perform these mathematical operations like
# union, intersection, difference, and symmetric difference. Let’s initialize two sets to work on
# our examples:
# Initialize sets
dataScientist = set(['Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS'])
dataEngineer = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop']
)

In [44]:
#Union= DatScientist | Data Engineer
dataScientist.union(dataEngineer)

{'Git', 'Hadoop', 'Java', 'Python', 'R', 'SAS', 'SQL', 'Scala', 'Tableau'}

In [45]:
#Intersection= dataScientist & dataEngineer
dataScientist.intersection(dataEngineer)

{'Git', 'Python', 'SQL'}

In [48]:
#Disjoint
# disjoint means they have different elements here sets have common values so disjoint will return False
dataScientist.isdisjoint(dataEngineer)

False

In [49]:
# Difference Operation returns the values which first set have 2nd don't have
# Equivalent Result
# dataScientist – dataEngineer
dataScientist.difference(dataEngineer)

{'R', 'SAS', 'Tableau'}

In [50]:
#Symmetric will return which one have others don't have
dataScientist.symmetric_difference(dataEngineer)

{'Hadoop', 'Java', 'R', 'SAS', 'Scala', 'Tableau'}

In [53]:
#Frozen Set
nestedTuples = (('a', 1), ('b', 2))
immutableSet = frozenset(nestedTuples)
nestedSets = set([immutableSet])
nestedSets

{frozenset({('a', 1), ('b', 2)})}

In [67]:
#Python Exception Handling
def myfunction(a, b):
    return a + b
try:
    myfunction(100,'hundred')
except:
    print('Error')

Error

In [76]:
#TypeError and NameError as exception
def myfunction(a, b):
    return a + b
try:
    myfunction(100,'hundred')
except (TypeError,NameError) as e:
    print(f'Error{e}')

Errorunsupported operand type(s) for +: 'int' and 'str'

In [77]:
#Finally
try:
    x = int(input("Enter a number: "))
    result = 10 / x
except ZeroDivisionError:
    print("You can't divide by zero!")
finally:
    print("This always runs.")

Enter a number:  2

This always runs.

In [79]:
#Exercise1:
#Q1: Write a Python program to find the length of a set, apply all sets
#operations(union,intersection) and print the results,find maximum and the minimum value in a
#set,create a shallow copy of sets,check if a set is a subset of another set, remove all elements
#from a given set,check if two given sets have no elements in common.check if a given set is
#superset of itself and superset of another given set.
#set1 = {1,2,3,4,5}
#set2 = {4,5,6,7,8}

In [80]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
len(set1)

5

In [81]:
#union
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [82]:
#Intersection
set1.intersection(set2)

{4, 5}

In [89]:
print('max in set1 is:',max(set1))

max in set1 is: 5

In [91]:
print('max in set2 is:',max(set2))

max in set2 is: 8

In [92]:
shallowcopyset1=set(set1)
shallowcopyset2=set(set2)

In [93]:
shallowcopyset1

{1, 2, 3, 4, 5}

In [94]:
shallowcopyset2

{4, 5, 6, 7, 8}

In [95]:
set1.issubset(set2)

False

In [96]:
set1.isdisjoint(set2)

False

In [97]:
set1.issuperset(set2)

False

In [100]:
set1.clear()
set2.clear()
shallowcopyset2.clear()
shallowcopyset1.clear()

In [101]:
#All Cleared
set1
set2
shallowcopyset2
shallowcopyset1

set()

In [111]:
#Exercise2
#Q2:Python program to count the number of vowels using sets in a given string.

def numberofvowels(variable):
    vowels={'a','e','i','o','u'}
    count=0
    for char in variable.lower():
        if char in vowels:
            count+=1
        
    return count
    
x=print("number of vowels are :",numberofvowels('Hello World'))
x

number of vowels are : 3

In [112]:
#Exercise3
#Q:3 Write a function to add, mul, divide two numbers x and y. Implement exception handling technique 
def calculate(x, y):
    try:
        # Addition
        addition = x + y
        # Multiplication
        multiplication = x * y
        # Division with zero-division exception handling
        division = x / y if y != 0 else "Cannot divide by zero"
        
        return addition, multiplication, division

    except TypeError:
        return "Both inputs must be numbers"
    except ZeroDivisionError:
        return "Cannot divide by zero"
    except Exception as e:
        return f"An error occurred: {e}"

# Example usage
x = 10
y = 2
result = calculate(x, y)
print(f"Addition: {result[0]}, Multiplication: {result[1]}, Division: {result[2]}")

Addition: 12, Multiplication: 20, Division: 5.0